body{margin: 0px;}
.header{background-color: green;}
.header h1{text-align: center;
  color: white;
  margin: 0px;
  padding: 30px; 
  font-family: serif;
  font-size: 50px;
  text-shadow: 2px 2px 2px black;
}
.fieldset fieldset{
  margin-left: 30px;
  margin-right: 30px;
  background-color: rgb(135, 206, 250);
  border-radius: 20px;
  box-shadow: 2px 2px 5px green;
}
.fieldset fieldset legend{
  background-color: white;
  color: red;
  border-radius: 10px;
  padding: 5px;
  padding-left: 5px;
  padding-right: 5px;
  
}
.Name{
  margin-left: 20px
}
input[type="text"]{
background-color: white;
padding-left: 20px;
}
textarea{
  resize: none;
  background-color: white;
}
.About{
 margin-left: 20px;
}
.sex{
  margin-left: 20px;
  
}
  .sex1{
    color: red;
    }
   .sex2{
     color: blue
   }
.phoneem{
  margin-left: 20px;
}
.computer fieldset{
  border-radius: 20px;
  background-color: rgb(102, 205, 170) ;
  margin:0px;
  padding: 10px;
}
.computer fieldset legend{
  border-radius: 10px;
  padding: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
h3{
  padding-bottom: -100px;
}
.department{
  float: right;
}
.level{
  text-align: center;
  
}
.heritage{ 
 color: red;
 font-family: serif;
  }
  .submit{
text-align: center;
   }
  button{
    padding:5px;
  }
  .footer{
    background-color: rgb(192, 192, 192)
  }
